---
import TopSection from "@components/top/TopSection.astro";
import ContactSection from "@components/top/ContactSection.astro";
import TopLayout from "@layouts/TopLayout.astro";
import InductionSection from "@components/top/InductionSection.astro";
---

<TopLayout>
  <div class="wrapper">
    <div class="main">
      <img src="/images/dona_no_background.png" alt="main" />
    </div>
    <div class="scroll-content">
      <TopSection />
      <div class="background">
        <InductionSection
          id="about"
          title="DONA（金井雪華）と、申します。"
          desc="デザインとエンジニアリングを学んでいる専門学生です。\nデザインと技術の力を組み合わせ、課題解決に貢献できるエンジニアを目指しています。\nこれまでの学びの中で感じたこと、これからの挑戦への思いをプロフィールにまとめています。\nぜひご覧ください。"
          buttonText="プロフィールをみる"
          link="/about"
        />
        <InductionSection
          id="works"
          title="作り上げたものたち"
          desc="これまで学び、挑戦してきた成果の一部です。\n未熟な点もありますが、一つ一つ丁寧に取り組んできました。\nぜひご覧ください。"
          buttonText="制作物をみる"
          link="/works"
        />
        <ContactSection />
      </div>
    </div>
  </div>
</TopLayout>

<style>
  section {
    height: 100vh;
  }
  .main {
    position: fixed;
    width: 100%;
    height: 130vh;
    overflow: hidden;
  }

  .main img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 17% 0;
  }

  .main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
  }

  .scroll-content {
    width: 50%;
    margin-left: auto;
    top: 25vh;
    padding: 3rem;
    position: relative;
    display: block;
    padding-bottom: 0;
  }
  /* レスポンシブ */
  @media screen and (max-width: 1024px) {
    .scroll-content {
      width: 100%;
      padding: 0;
      top: 5vh;
      
    }
    .background {
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      display: flex;
      flex-direction: column;
      gap: 5rem;
      padding: 0;
      padding-bottom: 8rem;
      padding-top: 3rem;
      margin-top: 2rem;
    }

  }
</style>
