<button>
  <slot />
</button>

<style>
  button {
    background-color: var(--color-secondary);
    width: 286px;
    height: 58px;
    color: white;
    font-family: var(--font-primary);
    border:1px solid white;
    border-radius: 50px;
    &:hover {
      background-image: var(--background-image);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  }
</style>
