---
import HumburgerMenu from "@components/HumburgerMenu.astro";
const { currentPage } = Astro.props;
---

<header>
  <h1>DONA's Portfolio</h1>
  <nav class="desktop">
    <ul>
      <li><a href="/">Top</a></li>
      <li>
        <a
          href="/about"
          class={currentPage === "about" ? "star-background-light active" : ""}
        >
          About
        </a>
      </li>
      <li>
        <a
          href="/works"
          class={currentPage === "works" ? "star-background-light active" : ""}
        >
          Works
        </a>
      </li>
      <li><a href="https://github.com/VOWAC" target="_blank">GitHub</a></li>
    </ul>
  </nav>
  <HumburgerMenu currentPage={currentPage} />
</header>

<style>
  header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 999;
  }
  h1 {
    background-image: var(--background-image-light);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    filter: brightness(2);
    white-space: nowrap;
  }

  .desktop ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
  }
  .desktop ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 0.9rem;
  }
  .desktop ul li a:hover {
    color: var(--color-secondary);
  }
  .desktop ul li a.active {
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.2rem 1rem;
  }

  @media screen and (max-width: 1024px) {
    header {
      padding: 0 2rem 0 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    .desktop {
      display: none;
    }
  }
</style>
