<section id="contact">
  <h2>Contact</h2>
  <h3>金井雪華</h3>
  <p>
    ご興味をお持ちいただけましたら、ぜひご連絡ください。<br
    />お待ちしております。
  </p>
  <p>Email:<span>yukihakanai.2@gmail.com</span></p>
  <p>Email(sub):<span>dona.vowac@gmail.com</span></p>
  <p>
    GitHab:<span
      ><a href="https://github.com/VOWAC" target="_blank"
        >https://github.com/VOWAC</a
      ></span>
  </p>
  <p>
    X:<span
      ><a href="https://x.com/___VOWAC" target="_blank"
        >https://x.com/___VOWAC</a
      ></span>
  </p>
</section>

<style>
  section#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
  }
  h2 {
    margin-bottom: 1rem;
  }
  h3 {
    margin-bottom: 0.8rem;
  }
  p {
    letter-spacing: 0.1rem;
    margin-bottom: 4rem;
  }
  span {
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
</style>
