<section id="top">
  <h1>金井雪華</h1>
  <h2>Portfolio</h2>
  <p>技術とデザインの両視点から価値あるものを形にしたい。</p>
</section>

<style>
  #top {
    z-index: 2;
    height: 100vh;
    color: white;
    text-decoration: underline 1px white;
    text-underline-offset: 1rem;
    text-align: right;
    padding-right: 3rem;
  }

  #top h1 {
    font-size: 6rem;
    letter-spacing: 0.4rem;
  }

  #top h2 {
    margin-top: -1.5rem;
    margin-bottom: 3rem;
    font-size: 4rem;
    letter-spacing: 0.2rem;
  }
  #top p {
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
  }
</style>
